nav.navbar.navbar-expand-lg.fixed-top
    .navbar-brand
        a(href='/') Lewis Wood
    button.navbar-toggler(data-toggle='collapse', data-target='#navbar-toggle')
        i.fas.fa-bars
    
    .collapse.navbar-collapse#navbar-toggle
        ul.navbar-nav
            li.nav-item
                a.nav-link(href='#') Home
            li.nav-item
                a.nav-link(href='#projects') Projects
            li.nav-item
                a.nav-link(href='#about') About
            li.nav-item
                a.nav-link(href='#contact') Contact