extends ./layout

block header
    link(rel="stylesheet", href="/stylesheets/home.css")

block content
    section.vh-100.flex-center-text
        div#particles-js
        h1.text-center.text-white.text-lighter(data-aos="fade-up", data-aos-delay="500") I'm Lewis, a Software Developer
        script(src='/javascripts/home.js')
    section.vh-100.flex-center-text#projects
        div.text-center(data-aos="fade-up", data-aos-anchor-placement="top-center")
            h1.text-white.text-lighter You can check out my <a href="https://bitbucket.org/luna71/">bitbucket</a> account
            p pun intended
    section.vh-100.flex-center-text#about
        div.container(data-aos="fade-up", data-aos-anchor-placement="top-center")
            h1.text-center.text-white.text-lighter I'm Lewis, I can work with these
            ul.text-white.text-lighter.text-center
                li HTML5, CSS3, JavaScript, PHP, SQL
                li Node.JS
                li C
                li Java
    section.vh-100.flex-center-text#contact
        div.container(data-aos="fade-up", data-aos-anchor-placement="top-center")
            h1.text-center.text-white.text-lighter You can contact me primarily via email:
            ul.flex.row.text-center.text-white.text-lighter
                li.flex-1 lewiswood698@gmail.com
                