<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        include ./components/includes
        link(rel="icon", href="")
        title Lewis Wood
        block header


    body
        header
            include ./components/navbar
        main
            block content
        footer
            include ./components/footer

