html {
    min-height: 100vh;
    min-width: 100vw;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    background-color: black;
    overflow: hidden;
}

#particles-js {
    background-color: black;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    position: fixed;
}

/* Navbar CSS */

nav {
    color: white;
    text-decoration: none;
}

nav a {
    color: white;
}

nav .navbar-brand {
    flex: 1;
}

nav .navbar-collapse {
    flex: 0;
    flex-basis: 100%;
    text-align: right;
}

nav .nav-item {
    margin: 20px;
}

.navbar-toggler i {
    color: white;
}

nav a:hover {
    color:white;
    text-decoration: none;
}

/* Positioning */
.center-text-canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-lighter {
    font-weight: lighter;
}

/* etc */

.vh-100 {
    height: 100vh;
}

.line-height-100 {
    line-height: 100vh;
}

.container {
    width: 60%;
    margin: auto;
}

.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.flex.row {
    flex-direction: row;
}

.flex-1 {
    flex: 1;
}

.flex-center-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

ul {
    list-style-type: none;
}

ul li {
    margin: 20px;
}